.App-header {
  background-color: #305f79;
  padding: 50px;
}

.App-link {
  color: #61dafb;
}

.Title {
  font-family: lobster;
  color: whitesmoke;
  text-align: left;
  font-size: 60px;
}

img {
  width: 10%;
  position: absolute;
  top: 8px;
  right: 16px;
}

footer {
  text-align: center;
}
